body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-title {
    font-size: 24pt;
}

.custom-top-bar {
    width: 100%;
    display: block;
    overflow: auto;
    background-color: #f8f8f8;
    padding-bottom: 4em;
}

.custom-content {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background-color: #ffffff;
    flex-grow: 1;
}